body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* .container {
    height: 100vh;
} */

.info {
    margin-top: 100px;
}

.controls {
    margin-top: 100px;
    margin-bottom: 45%;
}

.timer {
    padding-top: 10%;
}
