body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  display: block;
  width: 100vw;
  font-size: 24px;
  text-align: center;
  color: white;
  background-color: #ee6e73;
}

.info {
  margin-top: 100px;
}

.controls {
  margin-top: 10%;
  margin-bottom: 15%;
  padding-bottom: 5%;
}

.timers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.alarms {
  /* padding-top: 5%; */
}

/* Styling by ID */
#alarmOptions {
  padding-top: 50px;
}
