/* Styling by class */
.App {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
    farthest-corner at 30vw 20vh,
    #7397a1 1%,
    #3f2c41 100%
  );
  text-align: center;
  overflow: hidden;
  color: #ffffff;
  text-shadow: 2px 2px 3px rgba($color: #a6187e, $alpha: 0.8);
  z-index: 5;
  // transform: translateY(-5vh) ;
}

.btn {
  padding-top: 10px;
  z-index: 10;
}

.top-panels {
  z-index: 10;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  font-size: 20px;
  font-weight: bold;
  z-index: 1000;
}

.button-area {
  z-index: 10;
  padding-bottom: 20px;
}

// Styling by Id
#time-left {
  z-index: 10;
  font-size: 20px;
  font-weight: bold;
  z-index: 1000;
}

// Snow layer effect SCSS
$s1: "";
$s2: "";
$s3: "";
@for $i from 1 through 400 {
  $s1: $s1 +
    random(1000) *
    0.1vw +
    " " +
    random(1000) *
    0.1vh +
    " " +
    0 +
    " " +
    random(50) *
    -0.01rem +
    #fff;
  $s2: $s2 +
    random(1000) *
    0.1vw +
    " " +
    random(1000) *
    0.1vh +
    " " +
    0 +
    " " +
    random(50) *
    -0.01rem +
    #fff;
  $s3: $s3 +
    random(1000) *
    0.1vw +
    " " +
    random(1000) *
    0.1vh +
    " " +
    0 +
    " " +
    random(50) *
    -0.01rem +
    #fff;
  @if $i < 400 {
    $s1: $s1 + ",";
    $s2: $s2 + ",";
    $s3: $s3 + ",";
  }
}
.snow {
  border-radius: 50%;
  opacity: 0.5;
  position: absolute;
  top: -100vh;
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.layer1 {
  z-index: 3;
  width: 1.5rem;
  height: 1.5rem;
  filter: blur(1.5px);
  box-shadow: #{$s1};
  animation-duration: 10s;
}
.layer1.a {
  z-index: 3;
  animation-delay: -5s;
}
.layer2 {
  z-index: 2;
  width: 1.2rem;
  height: 1.2rem;
  filter: blur(3px);
  box-shadow: #{$s2};
  animation-duration: 12s;
}
.layer2.a {
  z-index: 2;
  animation-delay: -7s;
}
.layer3 {
  z-index: 1;
  width: 0.8rem;
  height: 0.8rem;
  filter: blur(6px);
  box-shadow: #{$s3};
  animation-duration: 14s;
}
.layer3.a {
  z-index: 1;
  animation-delay: -9s;
}
@keyframes fall {
  100% {
    transform: translateY(200vh);
  }
}
