/* Global Styling */
button {
  padding-top: 10px;
}

/* Styling by class */
.App {
  text-align: center;
}

.top-panels {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.button-area {
  padding-bottom: 20px;
}
